.poll {
  margin : .6rem 0;
  box-sizing: content-box;
  transition: all 400ms ease;
  position: relative;
}

.poll div.clicked{
    margin-left:500px;
}

.poll_submit_button_outter {
    width : 50%;
    text-align : center;
    margin : .4rem auto;
    margin-top : 1rem;
    box-sizing: content-box;
}

.poll_submit_button {
    background-color: #FFF;
    color : var(--background-color);
    box-sizing: content-box;
}

.inputGroup {
	background-color: #fff;
	display: block;
	margin: .2rem 0;
  position: relative;
  box-sizing: border-box;
}

.inputGroup label {
	padding: 1rem 1.6rem;
	width: 100%;
	display: block;
	text-align: left;
	color: #3C454C;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 200ms ease-in;
  overflow: hidden;
  box-sizing: border-box;
}

.inputGroup label:before {
	width: 11px;
	height: 10px;
	border-radius: 50%;
	content: '';
	background-color: var(--accent-color);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale3d(1, 1, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  box-sizing: border-box;
	z-index: -1;
}

.inputGroup label:after {
	width: 32px;
	height: 32px;
	content: '';
	border: 2px solid #D1D7DC;
	background-color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
	background-repeat: no-repeat;
	background-position: 2px 3px;
	border-radius: 50%;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
  transition: all 200ms ease-in;
  box-sizing: border-box;
}

.inputGroup input:checked ~ label {
	color: #fff;
}

.inputGroup input:checked ~ label:before {
  box-sizing: border-box;
	transform: translate(-50%, -50%) scale3d(56, 56, 1);
	opacity: 1;
}

.inputGroup input:checked ~ label:after {
	background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-sizing: border-box;
}

.inputGroup input {
	width: 32px;
	height: 32px;
	order: 1;
	z-index: 2;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
  visibility: hidden;
}

.background {
	transition: all 600ms ease;
	position: absolute;
	height : 100%;
	width: 100%;
	top: 0;
	z-index: -1;
	background-color: #262626;
	border-bottom-left-radius: 1.6rem;
	border-bottom-right-radius: 1.6rem;
	opacity: 0;
}

.poll_thanks {
	position: absolute;
	font-family: 'Press Start 2P', cursive;
	top: 50%;
  	width: 100%;
  	transform: translate(0, -100%);
	text-align :center;
}
