#form_background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
}

#conf_form_buttonBox {
    display: flex;
    justify-content: space-between;
    width : 100%;
    align-items: center;
}

#conf_form {
    max-width: 20rem;
    width : calc(95vw - 4rem);
    padding : 1.6rem 2rem;
}

.conf_button {
    width: calc(45% - 5.4vw);
    margin : 0;
}

#conf_text {
    font-weight: 300;
    margin-top: 1vh;
    margin-bottom: 4vh;
    font-size: 1.6rem;
}