@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.post_image {
    width: 40vw;
    height: 50vh;
    object-fit: cover;
    box-shadow: 0 0 20px var(--background-color);
    border-radius: 20px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

}

.post_image_container {
    min-width: 40vw;
    min-height: 50vh;
    position: relative;
    width: 80%;
    height: 70%;
    align-self: center;
    margin: auto;
    text-align: center;
    color: var(--accent-color);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}