.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.8rem;
    margin-bottom: 8rem;
}

.new-post-button{
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #C60000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plus{
    color: #1d1d1d;
    display: inline-block;
    margin: 0 0 10px 0;
}
