.post {
    width: 40%;
    margin: 2rem;
    padding: 2rem;
    border-radius: 5px;

    background-color: #222222;

    box-shadow: 0 0 20px;

}

.post_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.post_meta {
    margin-left: 1rem;
}

.post_user-name {
    margin: 0;
    color: var(--accent-color);
}

.post_user-image {
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--accent-color)
}

.post_time {
    color: wheat;
}

.post_content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.post_text {
    color: wheat;
}