.post {
    width: 40%;
    margin: 2rem;
    padding: 2rem;
    border-radius: 5px;

    background-color: #262626;

    box-shadow: 0 0 20px;

}

.post:hover {
    animation: shadow-change 2s paused;
}

@keyframes shadow-change {
    0% {     box-shadow: 0 0 20px;}
    100% { box-shadow: 0 0 20px #470000; }
}

.post_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.post_meta {
    margin-left: 1rem;
}

.post_user-name {
    margin: 0;
    color: var(--accent-color);
}

.post_user-image {
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--accent-color)
}

.post_time {
    color: wheat;
}

.post_content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.post_stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
    padding-top: 2rem;

    border-top: 3px solid var(--background-color);
}

.post_stats-item {
    color: var(--accent-color);
    font-size: 1.1rem;
}

.post_stats-item:hover {
    cursor: pointer;
}

.post_stats-item:hover >  .post_icon {
    transform: scale(1.3);
}

.post_icon {
    transition: all .2s ease-in-out;

    font-size: 1.5rem;
    margin-right: 5px;
}