<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="new-post.css">
    <link rel="stylesheet" href="../Post/post.css">

    <title>Document</title>
</head>
<body>
<div class="post new-post">
    <form action="" class="new-post-form">
        <textarea class = "new-post__textarea" name="newpost" id="newpost" cols="30" rows="10" placeholder="Enter...">

        </textarea>
        <button>Create!</button>
    </form>
</div>
</body>
</html>